body {
    background-color: yellow;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Smooch', cursive;
}

@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    div.example {
        display: none;
    }
}

@media print{
    *{
        background-color: transparent !important;
        border-color: black !important;
        box-shadow: none !important;
        color: black !important;
        text-shadow: none !important;
    }
    a{
        text-decoration: underline !important;
    }
    a[href]::after {
        content: '(' attr(href) ')';
    }
    a[href^='javascript']::after{
        content: '';
    }
    div.example {
        display: none;
    }
}

.tnt {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 50%;
    border: 3px solid red;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    color: red;
}

.counter{
    font-family: 'Times New Roman', Times, serif;
    background-color: #000;
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    color: white;
    display: block;
    font-size: 1.7em;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

figure{
    position: relative;
}
img {
    display: block;
    width: 500px;
}
figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 5px;
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    width: 480px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}