.conteiner {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.conteiner div {
    background-color: #afa;
}

.conteiner > div{
    color: #00F;
    font-size: 20px;
}

.conteiner > section > div {
    background-color: #f00;
}